{% schema %}
{
  "name": "Stappen",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Text.."
    },
    {
      "type": "text",
      "id": "description",
      "label": "Beschrijving",
      "default": "Beschrijving.."
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title2",
      "default": "Text.."
    },
    {
      "type": "text",
      "id": "description2",
      "label": "Beschrijving",
      "default": "Beschrijving.."
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title3",
      "default": "Text.."
    },
    {
      "type": "text",
      "id": "description3",
      "label": "Beschrijving",
      "default": "Beschrijving.."
    },
    {
      "type": "text",
      "id": "button-url",
      "label": "Button URL",
      "default": "#standaard"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button text",
      "default": "Meld u aan"
    },
    {
      "type": "checkbox",
      "id": "button_visible",
      "label": "Toon knop",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Stappen",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.steps {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 50px 40px 100px;
    position: relative;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.stappen {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1000px;
}

.stappen-table-card {
    align-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d, 0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d, 0 6.382653521484461px 19.147960564453385px -1.875px #0000000d, 0 20px 60px -2.5px #0000000d;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 320px;
    will-change: var(--framer-will-change-override, transform);
}

.stappen-table-content {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    position: relative;
}

a.stappen-cta-a {
    align-content: center;
    align-items: center;
    background-color: #e96411;
    border: 1.5px solid #ff9756;
    border-radius: 14px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 40px;
    justify-content: center;
    overflow: visible;
    padding: 10px 35px;
    position: relative;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 10px 25px #bcbbbb;  
    transform: scale(1.0);
    transition: transform 0.5s ease;  
}

a.stappen-cta-a:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.stappen-cta-a {
    text-decoration: none;
    color: #fff;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.stappen-table-content h3, p {
    margin: 0;
}

.stappen-table-content h3 {
    font-size: 20px;
    font-weight: 600;
}

.stappen-table-content p {
    font-size: 16px;
    color: #666666;
}
{% endstylesheet %}

<section class="steps">
    <div class="stappen">
        <div class="stappen-table-card scroll-trigger animate--slide-in" style="--animation-order: 1;">
            <div class="stappen-table-content">
                <div class="h3">
                    <h3>{{ section.settings.title }}</h3>
                </div>
                <div class="p">
                    <p>{{ section.settings.description }}</p>
                </div>
            </div>
        </div>
        <div class="stappen-table-card scroll-trigger animate--slide-in" style="--animation-order: 2;">
            <div class="stappen-table-content">
                <div class="h3">
                    <h3>{{ section.settings.title2 }}</h3>
                </div>
                <div class="p">
                    <p>{{ section.settings.description2 }} <br><br></p>
                </div>
            </div>
        </div>
        <div class="stappen-table-card scroll-trigger animate--slide-in" style="--animation-order: 3;">
            <div class="stappen-table-content">
                <div class="h3">
                    <h3>{{ section.settings.title3 }}</h3>
                </div>
                <div class="p">
                    <p>{{ section.settings.description3 }}</p>
                </div>
            </div>
        </div>
    </div>

    {% if section.settings.button_visible %}
        <a href="{{ section.settings.button-url }}" class="leefsamen-btn">{{ section.settings.button }}</a>
    {% endif %}
</section>
