{% schema %}
{
  "name": "Storingen",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "storingen",
      "label": "Storingen",
      "default": "Geen storingen"
    },
    {
      "type": "color",
      "id": "color_storing",
      "label": "Storingen Kleur",
      "default": "#9DC43D"
     },   
    {
      "type": "text",
      "id": "gepland-onderhoud",
      "label": "Gepland Onderhoud",
      "default": "Er is onderhoud gepland op 10 april 2024 van 9:00 tot 12:00. Leefsamen kan dan meerdere keren kortstondig niet beschikbaar zijn."
    },
    {
      "type": "text",
      "id": "opgeloste-storingen",
      "label": "Opgeloste Storingen",
      "default": "4 sept 2023 - 15.00 -16.00 uur. Deze storing is opgelost. U kunt mogelijk berichten ontvangen dat de centrale niet meer bereikbaar is. Dit is een storing aan onze kant, waarbij u onterecht deze meldingen ontvangt. We informeren u via deze weg wanneer het probleem opgelost is. Onze excuses voor het ongemak."
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Foto"
    }
  ],
  "presets": [
    {
      "name": "Storingen",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.storingen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 100px;
}

.storingen-content {
    padding: 20px;
    max-width: 610px;
}

.storingen-vragen {
    padding: 30px;
    max-width: 420px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
}

.storing-text {
    margin-bottom: 50px;
}

.storing-text h1 {
    font-weight: 700;
}

.storing-text h2 {
  font-weight: 700;
}
  
{% endstylesheet %}

 <div class="storingen">
        <div class="storingen-content">
            <div class="storing-text">
                <h1>Actuele storingen</h1>
                <hr></hr>
                <p style="font-weight: 700; color: {{ section.settings.color_storing }}; font-size: 25px">{{ section.settings.storingen }}</p>
            </div>
            <div class="storing-text">
                <h2>Gepland onderhoud</h2>
                <hr></hr>
                <p>{{ section.settings.gepland-onderhoud }}</p>
            </div>
            <div class="storing-text">
                <h2>Opgeloste Storingen</h2>
                <hr></hr>
                <p>{{ section.settings.opgeloste-storingen }}</p>
            </div>
            <div class="storing-text">
                <h2>
                    Mogelijke problemen internetprovider Ziggo</h2>
                <hr></hr>
                <p>Het komt voor dat de modem van Ziggo klanten voor storingen zorgt. Om dit probleem op te lossen kunt u het volgende doen: Hierbij ontvangt u de instructie om de energie-instellingen van de Ziggo Mediabox te controleren. Uw mediabox staat zo ingesteld dat deze indien die niet gebruikt wordt voor TV in standby modus gaat en de internet verbinding onderbreekt. Hierdoor verliest de Leefsamen centrale de verbinding met internet. Middels onderstaande procedure kunt u de instelling wijzigen via uw TV menu.

                    U dient er daarbij voor te zorgen dat de 'Stand-by Eco-mode' niet gebruikt wordt.
                    
                    https://www.ziggo.nl/klantenservice/televisie-radio/ontvangers/energieverbruik-en-stand-by</p>
            </div>

        </div>
        <div class="storingen-vragen" style="margin-top: 50px;">
            <h2 style="color: #1a94a6; margin-top: 0;">Vragen? Wij staan voor je klaar</h2>
               {% if section.settings.main_image %}
            <img src="{{ section.settings.main_image | img_url: 'master' }}" alt="" style="max-width: 64px; height: 64px;     border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-top-left-radius: 50em;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
    border-bottom-left-radius: 50em;
    box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.16);">
        {% endif %} 
            <p style="color: rgb(112, 111, 111); font-size: 25px">Ons telefoonnummer</p>
            <a style="color: #1a94a6; text-decoration: none; font-weight: 700; font-size: 34px;" href="tel:+31407800641" target="_blank">040 7800 641</a>
            <hr style="margin-bottom: 50px;"></hr>
        </div>
    </div>
    